.app {
  text-align: center;
}

.btn-group-vertical > .btn {
  margin-bottom: 25px;
}

.app-header {
  background-color: #2c54e8;
  color: white;
  padding: 20px 0;
}

.question-number {
  position: absolute;
  right: 20px;
}

.assessment-name {
  position: absolute;
  left: 20px;
}

.assessment-title {
  margin-top: 50px;
}

.assessment-container {
  max-width: 80%;
  margin: auto;
}

.question-title {
  min-height: 60px;
}

.answers {
  margin: 20px 0;
}